### Import libraries

In [2]:
import datetime as dt
import yfinance as yf
import pandas as pd
from pandas_datareader import data as pdr

## Step 1 : Specify the range for data extraction

In [12]:
end = dt.datetime.now()      
start = dt.datetime(2010, 1, 1)
start, end

(datetime.datetime(2010, 1, 1, 0, 0),
 datetime.datetime(2025, 11, 8, 16, 21, 20, 937557))

## Step 2 : Select the stocks that we want to analize

In [13]:
stocks = ["AAPL", "MSFT", "META", "AMZN", "TSLA", "GOOGL" ]

### Import data

In [14]:
df = yf.download(stocks, start = start, end = end)

df.head()

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_5160\4080279211.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(stocks, start = start, end = end)
[*********************100%***********************]  6 of 6 completed

Price          Close                                              High  \
Ticker          AAPL    AMZN      GOOGL META       MSFT TSLA      AAPL
Date
2010-01-04  6.424605  6.6950  15.576997  NaN  23.173349  NaN  6.439315
2010-01-05  6.435714  6.7345  15.508401  NaN  23.180834  NaN  6.472038
2010-01-06  6.333344  6.6125  15.117455  NaN  23.038574  NaN  6.461230
2010-01-07  6.321638  6.5000  14.765529  NaN  22.798979  NaN  6.364267
2010-01-08  6.363664  6.6760  14.962369  NaN  22.956213  NaN  6.364265

Price                               ...       Open                       \
Ticker        AMZN      GOOGL META  ...      GOOGL META       MSFT TSLA
Date                                ...
2010-01-04  6.8305  15.645594  NaN  ...  15.581967  NaN  22.926267  NaN
2010-01-05  6.7740  15.604088  NaN  ...  15.587684  NaN  23.098474  NaN
2010-01-06  6.7365  15.554878  NaN  ...  15.554878  NaN  23.120934  NaN
2010-01-07  6.6160  15.160702  NaN  ...  15.145789  NaN  22.933750  NaN
2010-01-08  6.6840  14.992938  NaN  ...  14.713335  NaN  22.671694  NaN

Price          Volume
Ticker           AAPL       AMZN      GOOGL META      MSFT TSLA
Date
2010-01-04  493729600  151998000   78169752  NaN  38409100  NaN
2010-01-05  601904800  177038000  120067812  NaN  49749600  NaN
2010-01-06  552160000  143576000  158988852  NaN  58182400  NaN
2010-01-07  477131200  220604000  256315428  NaN  50559700  NaN
2010-01-08  447610800  196610000  188783028  NaN  51197400  NaN

[5 rows x 30 columns]

In [17]:
df.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2025-10-27', '2025-10-28', '2025-10-29', '2025-10-30',
               '2025-10-31', '2025-11-03', '2025-11-04', '2025-11-05',
               '2025-11-06', '2025-11-07'],
              dtype='datetime64[ns]', name='Date', length=3988, freq=None)

In [18]:
df.columns

MultiIndex([( 'Close',  'AAPL'),
            ( 'Close',  'AMZN'),
            ( 'Close', 'GOOGL'),
            ( 'Close',  'META'),
            ( 'Close',  'MSFT'),
            ( 'Close',  'TSLA'),
            (  'High',  'AAPL'),
            (  'High',  'AMZN'),
            (  'High', 'GOOGL'),
            (  'High',  'META'),
            (  'High',  'MSFT'),
            (  'High',  'TSLA'),
            (   'Low',  'AAPL'),
            (   'Low',  'AMZN'),
            (   'Low', 'GOOGL'),
            (   'Low',  'META'),
            (   'Low',  'MSFT'),
            (   'Low',  'TSLA'),
            (  'Open',  'AAPL'),
            (  'Open',  'AMZN'),
            (  'Open', 'GOOGL'),
            (  'Open',  'META'),
            (  'Open',  'MSFT'),
            (  'Open',  'TSLA'),
            ('Volume',  'AAPL'),
            ('Volume',  'AMZN'),
            ('Volume', 'GOOGL'),
            ('Volume',  'META'),
            ('Volume',  'MSFT'),
            ('Volume',  'TSLA')],
           names=['Price', 'Ticker'])

In [19]:
df.columns

MultiIndex([( 'Close',  'AAPL'),
            ( 'Close',  'AMZN'),
            ( 'Close', 'GOOGL'),
            ( 'Close',  'META'),
            ( 'Close',  'MSFT'),
            ( 'Close',  'TSLA'),
            (  'High',  'AAPL'),
            (  'High',  'AMZN'),
            (  'High', 'GOOGL'),
            (  'High',  'META'),
            (  'High',  'MSFT'),
            (  'High',  'TSLA'),
            (   'Low',  'AAPL'),
            (   'Low',  'AMZN'),
            (   'Low', 'GOOGL'),
            (   'Low',  'META'),
            (   'Low',  'MSFT'),
            (   'Low',  'TSLA'),
            (  'Open',  'AAPL'),
            (  'Open',  'AMZN'),
            (  'Open', 'GOOGL'),
            (  'Open',  'META'),
            (  'Open',  'MSFT'),
            (  'Open',  'TSLA'),
            ('Volume',  'AAPL'),
            ('Volume',  'AMZN'),
            ('Volume', 'GOOGL'),
            ('Volume',  'META'),
            ('Volume',  'MSFT'),
            ('Volume',  'TSLA')],
           names=['Price', 'Ticker'])

In [20]:
df.to_csv("data.csv")